In [10]:
name = input("enter your Name:")
print("your str length:",len(name))

your str length: 5

In [9]:
str = ("$ mt name $ is $ bansi$")
print(str.count("$"))

4

In [16]:
age = 89
if (age >= 18 and age <=80):
    print("can drive")

    '''if (age >= 80):
        print("cannot drive")
    else:
        print("can drive")'''
    
else:
    print("can not drive")

can not drive

In [33]:
num = int(input("number is:"))

if (num % 2 == 0):
    print("even")
else:
    print("odd")

odd

In [37]:
num1 = int(input("enter 1no."))
num2 = int(input("enter 2no."))
num3 = int(input("enter 3no."))
num4 = int(input("enter 4no."))
if (num1 > num2 and num1>num3 and num1>num4):
    print("enter 1no.", num1)
elif(num2>num1 and num2>num3 and num2>num4):
    print("enter 2no." , num2)
elif(num3>num1 and num3>num2 and num3>num4):
    print("enter 3no." , num3)
else:
    print ("enter 4no.", num4)

enter 1no. 56

In [39]:
number = int(input("enter no."))
if (number%7 ==0 ):
    print("yes devide by 7")
else:
    print("not devide")

not devide

In [43]:
marks = [34.87,56.8,23.67,56.45,78.56]
print(marks)
print(marks[1])
print(len(marks))
print(type(marks))

[34.87, 56.8, 23.67, 56.45, 78.56]
56.8
5
<class 'list'>

In [50]:
'''list = [1,2,3,4,5]
print(type(list))
list[0] = 6
print (list)'''
tupple = (1,2,3,4,5,2,2,2)
print(tupple.index(2))
print(tupple.count(2))
print(type(tupple))

1
4
<class 'tuple'>

In [55]:
movie = []
movie1 = input("enter first movie name:")
movie2 = input("enter second movie name:")
movie3 = input("enter third movie name:")
movie.append[movie1]
movie.append[movie2]
movie.append[movie3]
print(movie)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [66]:
list = [1,2,3,2,1]
list_copy = list.copy()
list_copy.reverse()
if (list_copy == list):
    print ("its palindrome")
else:
    print ("not palindrome")

its palindrome

In [70]:
grade =["c","d","a","d","a","a","b","a"]
grade.sort()
print(grade)
#print(grade.sort())
#print(grade.count("a"))

['a', 'a', 'a', 'a', 'b', 'c', 'd', 'd']
None

In [76]:

dic = {
    "name" : "bansi",
    "age" : 25,
    "subjects" : ["python"],
    "no." : 3.9
}
print (dic["name"],dic["age"])
print(type(dic))
print(dic)

bansi 25
<class 'dict'>
{'name': 'bansi', 'age': 25, 'subjects': ['python'], 'no.': 3.9}

In [87]:
student ={
    "name" : "bansi",
    "subjects" : {
        "excel" : 98,
        "power bi" : 87,
        "tableau" : 99
    }
}
print(list(student.keys()))

TypeError: 'list' object is not callable

In [103]:
student ={
    "name" : "bansi",
    "subjects" : {
        "excel" : 98,
        "power bi" : 87,
        "tableau" : 99
    }
}
print(student.values())
print(student.items())
print(student.get("name"))
student.update({"city" : "ank"})
print(student)

dict_values(['bansi', {'excel': 98, 'power bi': 87, 'tableau': 99}])
dict_items([('name', 'bansi'), ('subjects', {'excel': 98, 'power bi': 87, 'tableau': 99})])
bansi
{'name': 'bansi', 'subjects': {'excel': 98, 'power bi': 87, 'tableau': 99}, 'city': 'ank'}

In [109]:

collection = {1,2,"hii","hello","python"}
collection1 = {1,2,"name","my","python"}
print(collection.union(collection1))
print(collection.intersection(collection1))
print(collection)
print(type(collection))

{1, 2, 'hello', 'python', 'name', 'hii', 'my'}
{1, 2, 'python'}
{1, 2, 'hii', 'hello', 'python'}
<class 'set'>

In [116]:
dic = {
    "table" :["a piece of furniture" , "list of facts and figures"],
    "cat" : "a small animal"
}
print(dic)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

In [123]:
classromm = {
    "python" , "java" , "c++", "python" , "javascript" , "java" "python", "java", "c++", "c"
}
print(len(classromm))

6

In [126]:
marks = {}
a = int(input("enter phy.:"))
marks.update({"phy" : a})
a = int(input("enter maths:"))
marks.update({"maths" : a})
a = int(input("enter eng.:"))
marks.update({"eng" : a})

print(marks)

{'phy': 34, 'maths': 78, 'eng': 56}

In [128]:
store = {9,"9.0"}
print(store)

{9, '9.0'}

In [17]:
count = 1
while count<=5:
    print("heello" , count)
    count+=1
    print(count)

heello 1
2
heello 2
3
heello 3
4
heello 4
5
heello 5
6

In [18]:
no = 1
while no >= 100:
    print (no)
    no += 1
    '''no = 100
while no <= 1:
    print(no)
    no-=1'''

In [21]:
n = int(input("enter no."))
i = 1
while i <= 10:
    print(n*i)
    i += 1

4
8
12
16
20
24
28
32
36
40

In [23]:
num = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(num):
    print(num[idx] , idx)
    idx += 1

1 0
4 1
9 2
16 3
25 4
36 5
49 6
64 7
81 8
100 9

In [29]:
num = (1,4,9,16,25,36,49,64,81,100)
x = 16
i = 0
while i < len(num):
    if ( num[i] == x):
        print("found", i )
    i += 1

found 3

In [31]:
i=1
while i <= 10:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i+=1

1
3
5
7
9