In [64]:
name = input("name :")
age = input("age :")
marks = input("marks :")
print("welcome" , name)
print ("age is :" , age)
print ("marks is :" , marks)

welcome bansi
age is : 25
marks is : 97

In [63]:
name = input("my name is:")
print("welcome" , name)

welcome bansi

In [11]:
str = ("i m learning with apna collage")
print(str.count("with"))

1

In [74]:
a = int(input("enter no."))
b = int(input("enter no."))
print (a>=b)
'''if (a>=b):
    print("true")
else:
    print("false")'''

True

'if (a>=b):\n    print("true")\nelse:\n    print("false")'

In [68]:
a = float(input("enter no"))
b = float(input("enter no."))
c = (a + b) / 2
print("avg is:", c)

avg is: 3.5

In [75]:
x = "bansi shani" 
print(len(x))

11

In [46]:
light = input("light :")
#light = "red"
if (light == "red"):
    print ("stop")
elif (light == "green"):
    print("go")
else:
    print("light is broken")

go

In [26]:
x=25
if x<18:
    print("eligiable")
else:
    print("not eligiable")

not eligiable

In [52]:
food = input("food:")
eat = "yes" if food == "cake" else "no"
print (eat)

yes

In [60]:
a=1
b="4" 
c= int(b)
sum=a+c
print(sum)

5

In [76]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
i = 0
while i<5:
        print(i)
        i+=1

0
1
2
3
4

In [29]:
a = 5
b = a+4
print(b)

9

In [1]:
def add_numbers(a,b=5):
    return a+b
result = add_numbers(3)
print(result)

8

In [30]:
def add(a,b):
    c=a+b
    print(c)
a=6
b=6
add(a,b)

12

In [31]:
def add(a,b):
    c=a+b
    print(c)
a=4
b=4
d=4
add(a,b)
e=4
g=4
add(e,g)

8
8

In [32]:
fathername = "shaileshbhai shani"
print(fathername.split("e"))
print(fathername.replace("sh","bh"))

['shail', 'shbhai shani']
bhailebhbhai bhani

In [33]:
# a="bansi" 
b=5 
try:
    print(a+b)
except:
    print("this value is string")

9

In [34]:
num = "bansi"
surnm = "shani"
fullname = num+"  "+surnm
print(fullname)

bansi  shani

In [35]:
fathername = "Shaileshbhai SHani"
print(fathername.lower())
"""lowerfathername = fathername.lower()
print(lowerfathername)"""
print(fathername.upper())
"""upperfathername = fathername.upper()
print(upperfathername)"""

shaileshbhai shani
SHAILESHBHAI SHANI

'upperfathername = fathername.upper()\nprint(upperfathername)'

In [36]:
a = 4
b = 4
sum = a+b
print(sum, "bansi")

8 bansi

In [37]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [38]:
a=2
print(type(a))
print(id(a))

<class 'int'>
2362368917776

In [1]:
print("hello world")

hello world